.react-datepicker__month-text {
  padding: 3px;
  width: 4.5rem !important;
}

.react-datepicker__navigation--previous {
  left: -5px;
}

.react-datepicker__navigation--next {
  right: -5px;
}

.react-datepicker__navigation-icon {
  top: 5px;
}
